@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --non-photo-blue: #89d2dcff;
    --slate-blue: #6564dbff;
    --palatinate-blue: #232ed1ff;
    --oxford-blue: #101d42ff;
    --rich-black: #0d1317ff;
    --text-color: #eef0df;
    --fire-red: #FF003D;
}
.circle{
    box-shadow: inset 3px 3px 5px var(--fire-red), 6px 6px 25px var(--fire-red);
}